
@{
    ViewData["Title"] = "Create";
}
@model Author

<h2>New Author</h2>
<form method="post" asp-action="create" class="col-6" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">FullName</span>
        <input asp-for="Name" type="text" class="form-control" name="Name" id="Name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label for="formFile" asp-for="FormImage" class="form-label">Author Image</label>
        <input class="form-control" asp-fo r="FormImage" type="file" name="FormImage" id="FormImage">
        <span class="text-danger" asp-validation-for="FormImage"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Author</button>
</form>

