
@{
    ViewData["Title"] = "ForgotPassword";
}

@model ForgotPasswordVM

<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0 mx-auto">
                <!-- Login Form s-->
                <form asp-action="ForgotPassword" method="post">
                    <div class="login-form">
                        <h4 class="login-title">Password reset</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Email">Enter your email and we'll send you a link to get back into your account</label>
                                <input class="mb-0 form-control" asp-for="Email"
                                       placeholder="exsample@mail.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outlined">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @section Scripts{
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</main>

