
@{
    ViewData["Title"] = "Events";
}

<!--Calendar css cdn-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5/main.min.css,npm/fullcalendar@5/main.min.css">
<section id="WorkCalendar">
    <section class="WorkCalendar-con">
        <div class="calendar-top">
            <span>Events</span>
            <button class="btn add-event-btn " data-bs-toggle="modal" data-bs-target="#AddEventModal">Add Event <i class="fa-solid fa-calendar-plus"></i></button>
        </div>
        <div id='calendar'></div>
    </section>
</section>
<div class="modal fade" id="AddEventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title employee-salary-modal-title " id="exampleModalLabel">Add Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="employee-salary-modal-con">
                    <form action="" id="AddEventForm">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="2022-02-01">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="2022-02-02">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Event Title</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel-modal" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="FilterDataModalAddBtn" class="btn-apply-modal">Search</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/combine/npm/chart.js@3,npm/fullcalendar@5,npm/fullcalendar@5/locales-all.min.js,npm/fullcalendar@5/locales-all.min.js,npm/fullcalendar@5/main.min.js"></script>
    <script src="~/js/EventCalendar.js"></script>
}