
@{
    ViewData["Title"] = "Index";
}

<section id="Holidays">
    <div class="Holidays-con">
        <div class="Holidays-top-con">
            <span>Holidays</span>
            <div class="d-flex">
                <button class="btn mx-3" data-bs-toggle="modal" data-bs-target="#AddHolidayModal">Add Holiday <i class="fa-solid fa-calendar-plus"></i></button>
                <form class="d-flex search-form">
                    <input class=" form-control me-2" type="search" placeholder="Name or ID" aria-label="Search">
                    <button class="btn" type="submit">Search<i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

            </div>
        </div>
        <div class="Department-card-con">
            <div class="row">
                <div class="card-con  col-md-12 col-xxl-6">
                    <div class="card ">
                        <div class="row g-0">
                            <div class="col-12">
                                <div class="card-body">
                                    <h5 class="card-title">Holiday Name</h5>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, architecto hic delectus quod, in doloribus doloremque alias repudiandae minus corrupti quae magni accusamus odit voluptate voluptates officiis quis est porro.</p>
                                    <p class="card-text"><span class="header">Start Date : </span>2022-12-10</p>
                                    <p class="card-text"><span class="header">End Date : </span>2022-12-12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-con  col-md-12 col-xxl-6">
                    <div class="card ">
                        <div class="row g-0">
                            <div class="col-12">
                                <div class="card-body">
                                    <h5 class="card-title">Holiday Name</h5>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, architecto hic delectus quod, in doloribus doloremque alias repudiandae minus corrupti quae magni accusamus odit voluptate voluptates officiis quis est porro.</p>
                                    <p class="card-text"><span class="header">Start Date : </span>2022-12-10</p>
                                    <p class="card-text"><span class="header">End Date : </span>2022-12-12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-con  col-md-12 col-xxl-6">
                    <div class="card ">
                        <div class="row g-0">
                            <div class="col-12">
                                <div class="card-body">
                                    <h5 class="card-title">Holiday Name</h5>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, architecto hic delectus quod, in doloribus doloremque alias repudiandae minus corrupti quae magni accusamus odit voluptate voluptates officiis quis est porro.</p>
                                    <p class="card-text"><span class="header">Start Date : </span>2022-12-10</p>
                                    <p class="card-text"><span class="header">End Date : </span>2022-12-12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="AddHolidayModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title employee-salary-modal-title " id="exampleModalLabel">Add Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="employee-salary-modal-con">
                    <form action="" id="AddEventForm">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="2022-02-01">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="2022-02-02">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Event Title</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel-modal" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="FilterDataModalAddBtn" class="btn-apply-modal">Add</button>
            </div>
        </div>
    </div>
</div>

