
@{
    ViewData["Title"] = "Edit";
}
@model Author

<h2>Edit Author</h2>
<form method="post" asp-action="Edit" class="col-6" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <span class="input-group-text" asp-for="Name" id="inputGroup-sizing-default">FullName</span>
        <input  asp-for="Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label for="formFile" asp-for="FormImage" class="form-label">Author Image</label>
        @{ if (Model.Image != null)
           {
                <div class="img-box" style=" width:30%;position:relative;margin-bottom: 1rem; border: 1px black solid;">
                    <input type="hidden" name="Image" value="@Model.Image" />
                    <img width="100%" class="preview-image" src="~/@Model.Image" style="display: block; position : relative" />
                    <i class="fas fa-times img-box-remove" style=" position: absolute; top: 1px; right: 3px; color: red; cursor: pointer; "></i>
                </div>
           } 
         }
        <input class="form-control" asp-for="FormImage" type="file">
        <span class="text-danger" asp-validation-for="FormImage"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}