
@{
    ViewData["Title"] = "Edit";
}
@model Author

<h2>Edit Author</h2>
<form method="post" asp-action="Edit" class="col-6" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <span class="input-group-text" asp-for="Name" id="inputGroup-sizing-default">FullName</span>
        <input value="@Model.Name" asp-for="Name" type="text" class="form-control" name="Name" id="Name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label for="formFile" asp-for="FormImage" class="form-label">Author Image</label>
        <img width="300" src="~/@Model.Image" style="display: block;margin-bottom: 1rem;" />
        <input value="@Model.Image" class="form-control" asp-for="FormImage" type="file" name="FormImage" id="FormImage">
        <span class="text-danger" asp-validation-for="FormImage"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}