$base-color : #eae7dc;
$base-color-light :ghostwhite;
$base-color-dark : #d8c3a5;
$text-color-light : #8e8d8a;
$link-color : #e98074;
$link-color-active : #e85a4f;
$notification-color-info: dodgerblue;
$notification-color-warning : gold	;
$notification-color-success : seagreen;

@media screen and (max-width: 500px)
{
    #LeaveRequest
    {
        .list-item-top
        {
            flex-direction: column;
            align-items: flex-start !important;
            row-gap: 10px;
        }
    }
}

#LeaveRequest
{
    padding: 1rem;
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    min-height: 100%;
    .leave-request-con
    {
        .leave-request-top-con
        {
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span 
            {
                font-size: 20px;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
            }
            .btn
            {
                transition: .2s all;
                font-family: 'Poppins', sans-serif;
                color: $text-color-light;
                border-color: $link-color-active;
            }
            .btn:hover 
            {
                color: white;
                background-color: $link-color-active;
            }
            .btn:focus
            {
                box-shadow: none !important;
            }
        }

        .list-group-item
        {
            .form-check-input:focus
            {
                box-shadow: none !important;
            }
            .list-item-top
            {
                .list-item-btn-con
                {
                    button 
                    {
                        i 
                        {
                            margin-left:7px
                        }
                    }
                    button:focus 
                    {
                        box-shadow: none !important;
                    }
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                word-wrap: break-word;
                font-size: 20px;
                color: $link-color-active;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
                margin-bottom: 1rem;
            }
            .list-item-title
            {
                span 
                {
                    word-wrap: break-word;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                }
                margin-bottom: 0.5rem;
            }
            .list-item-time
            {
                word-wrap: break-word;
                color: $text-color-light;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-style: italic;
                font-size: 12px;
            }
        }
    }
}