
$base-color : #eae7dc;
$base-color-light :ghostwhite;
$base-color-dark : #d8c3a5;
$text-color-light : #8e8d8a;
$link-color : #e98074;
$link-color-active : #e85a4f;
$notification-color-info: dodgerblue;
$notification-color-warning : gold	;
$notification-color-success : seagreen; 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	min-height: 100vh;
	background-color: $base-color-light !important;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}

@media screen and (max-width: 992px)
{
	
	#Sidebar 
	{

		margin-left: 72px;
		position: fixed !important;
		height: 100vh;
	}
	#Shortcut 
	{
		height: 100vh;
		position: fixed !important;
	}
}

@media screen and (max-width: 354px)
{
	#year 
	{
		display: none;
	}
	#Sidebar 
	{
		.sidebar-con
		{
			div 
			{
				width: 242px !important;
			}
		}
	}
}

@media screen and (max-width: 600px)
{
	.clock{
	  height:350px ;
	  width: 350px;
	}
	.date{
	  font-size: 18px;
	}
	.time{
	  font-size: 50px;
	}
}

@media screen and (max-width: 469px)
{
	.navbar-brand
	{
		span 
		{
			display: none;
		}
	}
}
  
@media screen and (max-width: 450px)
{
	.clock{
	  height:330px;
	  width: 330px;
	}
	.date{
	  font-size: 16px;
	}
	.time{
	  font-size: 45px;
	}
}

@media screen and (max-width: 677px) 
{
	.notification-tab
	{
		left: -16.7rem !important;
	}

}

@media screen and (max-width: 506px) 
{
	.notification-tab
	{
		width: 21rem !important;
		left: -7.7rem !important;
		.notification-success
		{
			i 
			{
				font-size: 34px !important;
			}
		}
	}
}

#LoadingBarMain
{
    display: block;
    position: fixed;
    z-index: 1003;
    height: 100%;
    width: 100%;   
    background-color: ghostwhite;
    .loading-bar-con
    {
        max-width:fit-content;
        margin-top: 45vh !important;
        margin-bottom: 45vh !important;
        .loading-gif
        {
            width: 80px;
        }
    }
} 

#Navbar 
{
	z-index: 1001;
	background-color: $base-color;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	.container-fluid
	{
		.navbar-brand
		{
			margin-right: 0px;
			font-family: 'Staatliches', cursive;
			font-size: 37px;
			img 
			{
				width: 50px;
				margin-right: 10px;
			}
		}
		.nav-item 
		{
			.nav-link
			{
				i 
				{
					padding-left: 15px !important;
					color: $link-color;
					font-size: 20px;
				}
			}
			.sign-out-btn
			{
				box-shadow: none;
				transition: .15s all ease-in-out;
				display: flex;
				align-items: center;
				background-color: $link-color-active;
				padding: 8px 15px;
				border-radius: 7px;
				margin-left : 24px;
				span 
				{
					color: white;
					font-weight: 500;
				}
				i 
				{
					padding-left: 15px !important;
					color: white;
					font-size: 20px;

				}
			}
			.sign-out-btn:hover 
			{
				transform: scale(107%);
				box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
			}
			.notification-main
			{
				
				.notification-btn
				{
					padding: 0px !important;
					cursor: pointer;
				}
				position: relative;
				.notification-circle
				{
					cursor: pointer;
					padding: 0px !important;
					position: absolute;
					color: red;
					top: 10px;
					font-size: 11px;
					left: 9px;
				}
				.notification-tab
				{
					
					padding: 10px;
					box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
					position: absolute;
					background-color: white;
					width: 30rem;
					max-height: fit-content;
					top: 35px;
					font-size: 11px;
					left: -28.7rem;
					border-radius: 7px;
					display: flex;
					flex-direction: column;
                    align-items: flex-start;
					.card-body
					{
						padding: 0.5rem;
					  .notification-context
					  {
						color: black;
						text-decoration: none;
						flex-direction: row;
						align-items: center;
					  	display: flex;
						border-radius: 7px;
						.notification-icon-con
						{
							text-align: center;
							padding: 10px;
							i 
							{
								font-size: 50px;
								padding: 0px !important;
							}
						}
						.notification-desc-con
						{
							padding: 10px;
							span 
							{
								word-wrap: break-word;
								font-size: 14px;
								font-weight: 500;
								font-family: 'Open Sans', sans-serif;
							}
						}
					  }
					}
				}
			}
		}
	}
}

.notification-info 
{
	border: 2px solid $notification-color-info;
	.notification-icon-con
	{
		i 
		{
			color: $notification-color-info !important;
		}
	}
}
.notification-warning
{
	border: 2px solid $notification-color-warning ;
	.notification-icon-con 
	{
		i 
		{
			color: $notification-color-warning !important;
		}
		
	}
}
.notification-success
{
	border: 2px solid $notification-color-success;
	.notification-icon-con
	{
		i 
		{
			color: $notification-color-success !important;
		}
	}
}

.notification-tab-hidden 
{
	top: -1000px !important;
} 

#Shortcut
{
	background-color: $base-color-light;
	transition: .3s all;
	z-index: 999;
	.shortcut-con
	{
		padding-top: 2rem;
		div 
		{
			ul 
			{
				.nav-item 
				{
					img 
					{
						transition: .3s all ease-in-out;
						width: 40px;
						border: 2px solid $link-color;
                        border-radius: 50%;
						height: 40px;
					}
					img:hover 
					{
						transform: scale(150%);
						border: 2px solid $link-color-active;
					}
					i 
					{
						color: $link-color;
						font-size: 30px;
						transition: .15s all ease-in-out;
					}
					i:hover 
					{
						transform: scale(130%);
						color: $link-color-active;
					}
				}
			}
		}
	}
}

#Sidebar
{
	z-index: 998;
	background-color: $base-color-light;
	transition: .3s all;
	.sidebar-con
	{
		padding-top: 2rem;
		div 
		{
			width: 280px;
			ul 
			{
				.nav-item
				{
					.accordion-body 
					{
						background-color: $base-color-light;
					}
					transition: .15s all ease-in-out;
					.accordion-button
					{
						box-shadow: none !important;
						background-color: $base-color-light;
						color: $link-color;
						transition: .15s all ease-in-out;
						font-weight: 400;
						font-family: 'Poppins', sans-serif;
						i 
						{
							transition: .15s all ease-in-out;
							color: $link-color;
							margin-right: 10px;
						}
					}
					.accordion-button::after
					{
						background-image: url("data:image/svg+xml, %3Csvg style='color :%23e98074' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
					}
					.accordion-button:hover 
					{
						i 
						{
							color: $link-color-active;
						}
						color: $link-color-active;
						padding-left: 40px !important;
					}
					.nav-link
					{
						color: $link-color;
						transition: .15s all ease-in-out;
						font-weight: 400;
						font-family: 'Poppins', sans-serif;
						i 
						{
							transition: .15s all ease-in-out;
							color: $link-color;
							margin-right: 10px;
						}

					}
				}
				.nav-item:hover 
				{
					.nav-link
					{
						color: $link-color-active;
						padding-left: 40px;
						i 
						{
							color: $link-color-active;
						}
					}
				}
			}
		}
	}
	.accordion-link 
	{
	  font-family: 'Poppins', sans-serif;
	  display: block;
      padding: 0.5rem 1rem;
      color: $link-color;
      text-decoration: none;
      transition: .15s all ease-in-out;
	}
	.accordion-link:hover 
	{
		color: $link-color-active;
		padding: 0.5rem 2rem;
	}
}

#MainContent
{
	min-height: 100%;
	background-color: $base-color-light;
	padding-top: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	.main-content-con
	{
		padding: 1rem;
		border-radius: 7px;
		height: fit-content;
	}
}

  
.datetime
{
	margin:0 auto;
	color: rgb(0, 0, 0);
	font-family: "Segoe UI", sans-serif;
}
  
.date
{
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 3px;
}
  
.time
{
	font-size: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.time span:not(:last-child)
{
	position: relative;
	margin: 0 6px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 3px;
}
  
.time span:last-child
{
	font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


.active-link 
{
	padding-left: 40px !important;
	color: $link-color-active;
}

.layout-main
{
	padding-top: 82.4px;
	display: flex;
}

.navbar-nav 
{
	flex-direction: row !important;
}
.accordion-button
{
	padding: 8px 16px !important;
}

.sidebar-hidden
{
	z-index: -1;
	transform: translate3d(-200%, 0px, 0px);
    visibility: hidden;
	position: fixed;
	top: 83.5px;
	left: -500px;
	width: 100px;
}