$base-color : #eae7dc;
$base-color-light :ghostwhite;
$base-color-dark : #d8c3a5;
$text-color-light : #8e8d8a;
$link-color : #e98074;
$link-color-active : #e85a4f;


.slide {
    z-index: 1;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0;
    transition: opacity 1s;
    background-size: cover;
    background-position: center;
}
.slide.active 
{ 
    opacity: 1;
}
  
@keyframes slide-1 {
    0% , 40% , 100% { opacity: 0; }
    20%             { opacity: 1; }
}
@keyframes slide-2 {
    0% , 20% , 60% , 100% { opacity: 0; }
    40%                   { opacity: 1; }
}
@keyframes slide-3 {
    0% , 40% , 80% , 100% { opacity: 0; }
    60%                   { opacity: 1; }
}
@keyframes slide-4 {
    0% , 60% , 100%  { opacity: 0; }
    80%              { opacity: 1; }
}

.slide-1 { animation: slide-1 24s infinite; background-image: url('../image/blackmesa1.jfif'); }
.slide-2 { animation: slide-2 24s infinite; background-image: url('../image/blackmesa3.jpg'); }
.slide-3 { animation: slide-3 24s infinite; background-image: url('../image/blackmesa5.jpg'); }
.slide-4 { animation: slide-4 24s infinite; background-image: url('../image/blackmesa4.jpg'); }
.slide-4 { animation: slide-4 24s infinite; background-image: url('../image/blackmesa6.jpg'); }

.form-signin
{
    padding-top: 5rem !important;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("../image/blackmesa1.jfif");
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 0px;
    height: 100vh !important;
    form 
    {
        a 
        {
            font-weight: 500;
            font-size: 14px;
        }
        z-index: 3;
        height: max-content;
        padding: 1rem;
        border-radius: 7px;
        border: 1px solid $text-color-light;
        img 
        {
            width: 100px;
            margin-bottom: 1rem;
        }
        h1 
        {
            font-size: 50px;
            font-family: 'Abril Fatface', cursive;
        }
        button
        {
            transition: .2s all ease-in-out;
            border: 1px solid $link-color-active;
        }
        button:hover  
        {
            background-color: $link-color-active;
            color: white;
        }
        .form-floating 
        {
            width: 20rem;
            margin-bottom: 1rem;
            input 
            {
                font-weight: 400;
                font-family: 'Raleway', sans-serif;
            }
            label 
            {
                font-weight: 500;
                font-family: 'Raleway', sans-serif;
            }
        }
    }
}
.form-signin::before 
{
    z-index: 2;
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.644);
	opacity: .6; 
}
.form-control:focus 
{
    box-shadow: none !important;
    border-color: $link-color-active !important;
}