
@{
    ViewData["Title"] = "Info";
}
@model Author
<ul>
    <li>Id : @Model.Id</li>
    <li>Name : @Model.Name</li>
    <td>Image : <img width="300" src="~/@Model.Image" /> </td>
    <li>Product count : @Model.Products.Count()</li>
</ul>

