
@{
    ViewData["Title"] = "Create";
}

@model Feature

<h2>New Feature</h2>
<form method="post" asp-action="NewFeature">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Header</span>
        <input asp-for="Header" type="text" class="form-control" name="Header" id="Header" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span class="text-danger" asp-validation-for="Header"></span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <input asp-for="Title" type="text" class="form-control" name="Title" id="Title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Logo</span>
        <input asp-for="Logo" type="text" class="form-control" name="Logo" id="Logo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span class="text-danger" asp-validation-for="Logo"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Feature</button>
</form>

