
@{
    ViewData["Title"] = "Index";
}

<section id="AttendanceTable">
    <section class="attendance-table-con">
        <div class="table-top">
            <span>Attendance</span>
            <button class="btn btn-filter-dataset" data-bs-toggle="modal" data-bs-target="#FilterDataModal"><i class="fa-solid fa-filter"></i>Filter Dataset</button>
        </div>
        <div class="table-con">
            <table class="table table-striped table-hover m-auto">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">FullName</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
                        <th scope="col">7</th>
                        <th scope="col">8</th>
                        <th scope="col">9</th>
                        <th scope="col">10</th>
                        <th scope="col">11</th>
                        <th scope="col">12</th>
                        <th scope="col">13</th>
                        <th scope="col">14</th>
                        <th scope="col">15</th>
                        <th scope="col">16</th>
                        <th scope="col">17</th>
                        <th scope="col">18</th>
                        <th scope="col">19</th>
                        <th scope="col">20</th>
                        <th scope="col">21</th>
                        <th scope="col">22</th>
                        <th scope="col">23</th>
                        <th scope="col">24</th>
                        <th scope="col">25</th>
                        <th scope="col">26</th>
                        <th scope="col">27</th>
                        <th scope="col">28</th>
                        <th scope="col">29</th>
                        <th scope="col">30</th>
                        <th scope="col">31</th>
                        <th scope="col">Total Absent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>101</td>
                        <td>Gordon Freeman</td>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col">
                            <span class="attendance-status" date-for="31">A</span>
                        </th>
                        <th scope="col" class="attendance-count">31</th>
                        <th scope="col" class=""><button class="btn table-btn" data-bs-toggle="modal" data-bs-target="#EditAttendanceModal">Edit Attendance</button></th>
                        <th scope="col" class=""><a href="#" type="button" class=" btn table-btn">Profile</i></a></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-bottom">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </section>
</section>
<div class="modal fade" id="FilterDataModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title employee-salary-modal-title " id="exampleModalLabel">Filter Dataset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="employee-salary-modal-con">
                    <form action="" id="FilterDataModal">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">ID or FullName</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>ID</option>
                                <option value="1">FullName</option>
                                <option value="2">Total Absent</option>
                            </select>
                            <label for="floatingSelect">Sort By</label>
                        </div>
                        <div class="form-check form-switch mt-2">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Sort Descending</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel-modal" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="FilterDataModalAddBtn" class="btn-apply-modal">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditAttendanceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title employee-salary-modal-title " id="exampleModalLabel">Edit Attendance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="employee-salary-modal-con">
                    <form action="" id="FilterDataModal">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Edit Attendance for</label>
                            <input type="date" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Absent
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Present
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Allowed
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel-modal" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="FilterDataModalAddBtn" class="btn-apply-modal">Apply</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Attendance.js"></script>
}

