@media screen and (max-width: 687px) {
  #Holidays .Holidays-top-con {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #Holidays .Holidays-top-con .btn {
    margin: 0px !important;
  }
  #Holidays .Holidays-top-con div {
    row-gap: 10px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

#Holidays {
  padding: 1rem;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-height: 100%;
}

#Holidays .Holidays-con .Holidays-top-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Holidays .Holidays-con .Holidays-top-con div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#Holidays .Holidays-con .Holidays-top-con span {
  font-weight: 500;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

#Holidays .Holidays-con .Holidays-top-con .btn {
  background-color: #e85a4f;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: .2s all;
  transition: .2s all;
  font-weight: 500;
  transition: .2s all;
}

#Holidays .Holidays-con .Holidays-top-con .btn i {
  margin-left: 5px;
}

#Holidays .Holidays-con .Holidays-top-con .btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#Holidays .Holidays-con .Holidays-top-con .btn:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#Holidays .Holidays-con .Department-card-con {
  padding: 1rem;
}

#Holidays .Holidays-con .Department-card-con .row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 24px;
}

#Holidays .Holidays-con .Department-card-con .row .card-con {
  height: 100%;
}

#Holidays .Holidays-con .Department-card-con .row .card {
  padding: 0px;
}

#Holidays .Holidays-con .Department-card-con .row .card .card-body {
  font-family: 'Poppins', sans-serif;
}

#Holidays .Holidays-con .Department-card-con .row .card .card-body .card-title {
  color: #e85a4f;
  font-size: 24px;
}

#Holidays .Holidays-con .Department-card-con .row .card .card-body .card-desc {
  font-weight: 400;
}

#Holidays .Holidays-con .Department-card-con .row .card .card-body .card-text {
  font-weight: 400;
}

#Holidays .Holidays-con .Department-card-con .row .card .card-body .card-text .header {
  font-weight: 500;
}

#Holidays .Holidays-con .Department-card-con .row .card .row {
  row-gap: 0px;
}

#Holidays .Holidays-con .Department-card-con .row .card img {
  width: 100%;
  max-height: 500px;
}

#Holidays .Holidays-con .Department-card-con .row .card .card-footer {
  background-color: #e85a4f;
  text-align: center;
}

#Holidays .Holidays-con .Department-card-con .row .card .card-footer a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
}

#Holidays .Holidays-con .Department-card-con .row .card .card-footer a i {
  margin-left: 5px;
}
/*# sourceMappingURL=Holidays.css.map */