/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100vh;
  background-color: ghostwhite !important;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  #Sidebar {
    margin-left: 72px;
    position: fixed !important;
    height: 100vh;
  }
  #Shortcut {
    height: 100vh;
    position: fixed !important;
  }
}

@media screen and (max-width: 354px) {
  #year {
    display: none;
  }
  #Sidebar .sidebar-con div {
    width: 242px !important;
  }
}

@media screen and (max-width: 600px) {
  .clock {
    height: 350px;
    width: 350px;
  }
  .date {
    font-size: 18px;
  }
  .time {
    font-size: 50px;
  }
}

@media screen and (max-width: 469px) {
  .navbar-brand span {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .clock {
    height: 330px;
    width: 330px;
  }
  .date {
    font-size: 16px;
  }
  .time {
    font-size: 45px;
  }
}

@media screen and (max-width: 677px) {
  .notification-tab {
    left: -16.7rem !important;
  }
}

@media screen and (max-width: 506px) {
  .notification-tab {
    width: 21rem !important;
    left: -7.7rem !important;
  }
  .notification-tab .notification-success i {
    font-size: 34px !important;
  }
}

#LoadingBarMain {
  display: block;
  position: fixed;
  z-index: 1003;
  height: 100%;
  width: 100%;
  background-color: ghostwhite;
}

#LoadingBarMain .loading-bar-con {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 45vh !important;
  margin-bottom: 45vh !important;
}

#LoadingBarMain .loading-bar-con .loading-gif {
  width: 80px;
}

#Navbar {
  z-index: 1001;
  background-color: #eae7dc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#Navbar .container-fluid .navbar-brand {
  margin-right: 0px;
  font-family: 'Staatliches', cursive;
  font-size: 37px;
}

#Navbar .container-fluid .navbar-brand img {
  width: 50px;
  margin-right: 10px;
}

#Navbar .container-fluid .nav-item .nav-link i {
  padding-left: 15px !important;
  color: #e98074;
  font-size: 20px;
}

#Navbar .container-fluid .nav-item .sign-out-btn {
  -webkit-transition: .15s all ease-in-out;
  transition: .15s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e98074;
  padding: 8px 15px;
  border-radius: 7px;
  margin-left: 24px;
}

#Navbar .container-fluid .nav-item .sign-out-btn span {
  color: white;
  font-weight: 500;
}

#Navbar .container-fluid .nav-item .sign-out-btn i {
  padding-left: 15px !important;
  color: white;
  font-size: 20px;
}

#Navbar .container-fluid .nav-item .sign-out-btn:hover {
  background-color: #e85a4f;
}

#Navbar .container-fluid .nav-item .notification-main {
  position: relative;
}

#Navbar .container-fluid .nav-item .notification-main .notification-btn {
  padding: 0px !important;
  cursor: pointer;
}

#Navbar .container-fluid .nav-item .notification-main .notification-circle {
  cursor: pointer;
  padding: 0px !important;
  position: absolute;
  color: red;
  top: 10px;
  font-size: 11px;
  left: 9px;
}

#Navbar .container-fluid .nav-item .notification-main .notification-tab {
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  background-color: white;
  width: 30rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  top: 35px;
  font-size: 11px;
  left: -28.7rem;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#Navbar .container-fluid .nav-item .notification-main .notification-tab .card-body {
  padding: 0.5rem;
}

#Navbar .container-fluid .nav-item .notification-main .notification-tab .card-body .notification-context {
  color: black;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 7px;
}

#Navbar .container-fluid .nav-item .notification-main .notification-tab .card-body .notification-context .notification-icon-con {
  text-align: center;
  padding: 10px;
}

#Navbar .container-fluid .nav-item .notification-main .notification-tab .card-body .notification-context .notification-icon-con i {
  font-size: 50px;
  padding: 0px !important;
}

#Navbar .container-fluid .nav-item .notification-main .notification-tab .card-body .notification-context .notification-desc-con {
  padding: 10px;
}

#Navbar .container-fluid .nav-item .notification-main .notification-tab .card-body .notification-context .notification-desc-con span {
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.notification-info {
  border: 2px solid dodgerblue;
}

.notification-info .notification-icon-con i {
  color: dodgerblue !important;
}

.notification-warning {
  border: 2px solid gold;
}

.notification-warning .notification-icon-con i {
  color: gold !important;
}

.notification-success {
  border: 2px solid seagreen;
}

.notification-success .notification-icon-con i {
  color: seagreen !important;
}

.notification-tab-hidden {
  top: -1000px !important;
}

#Shortcut {
  background-color: ghostwhite;
  -webkit-transition: .3s all;
  transition: .3s all;
  z-index: 999;
}

#Shortcut .shortcut-con {
  padding-top: 2rem;
}

#Shortcut .shortcut-con div ul .nav-item img {
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  width: 40px;
  border: 2px solid #e98074;
  border-radius: 50%;
}

#Shortcut .shortcut-con div ul .nav-item img:hover {
  -webkit-transform: scale(150%);
          transform: scale(150%);
  border: 2px solid #e85a4f;
}

#Shortcut .shortcut-con div ul .nav-item i {
  color: #e98074;
  font-size: 30px;
  -webkit-transition: .15s all ease-in-out;
  transition: .15s all ease-in-out;
}

#Shortcut .shortcut-con div ul .nav-item i:hover {
  -webkit-transform: scale(130%);
          transform: scale(130%);
  color: #e85a4f;
}

#Sidebar {
  z-index: 998;
  background-color: ghostwhite;
  -webkit-transition: .3s all;
  transition: .3s all;
}

#Sidebar .sidebar-con {
  padding-top: 2rem;
}

#Sidebar .sidebar-con div {
  width: 280px;
}

#Sidebar .sidebar-con div ul .nav-item {
  -webkit-transition: .15s all ease-in-out;
  transition: .15s all ease-in-out;
}

#Sidebar .sidebar-con div ul .nav-item .accordion-body {
  background-color: ghostwhite;
}

#Sidebar .sidebar-con div ul .nav-item .accordion-button {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: ghostwhite;
  color: #e98074;
  -webkit-transition: .15s all ease-in-out;
  transition: .15s all ease-in-out;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

#Sidebar .sidebar-con div ul .nav-item .accordion-button i {
  -webkit-transition: .15s all ease-in-out;
  transition: .15s all ease-in-out;
  color: #e98074;
  margin-right: 10px;
}

#Sidebar .sidebar-con div ul .nav-item .accordion-button::after {
  background-image: url("data:image/svg+xml, %3Csvg style='color :%23e98074' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

#Sidebar .sidebar-con div ul .nav-item .accordion-button:hover {
  color: #e85a4f;
  padding-left: 40px !important;
}

#Sidebar .sidebar-con div ul .nav-item .accordion-button:hover i {
  color: #e85a4f;
}

#Sidebar .sidebar-con div ul .nav-item .nav-link {
  color: #e98074;
  -webkit-transition: .15s all ease-in-out;
  transition: .15s all ease-in-out;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

#Sidebar .sidebar-con div ul .nav-item .nav-link i {
  -webkit-transition: .15s all ease-in-out;
  transition: .15s all ease-in-out;
  color: #e98074;
  margin-right: 10px;
}

#Sidebar .sidebar-con div ul .nav-item:hover .nav-link {
  color: #e85a4f;
  padding-left: 40px;
}

#Sidebar .sidebar-con div ul .nav-item:hover .nav-link i {
  color: #e85a4f;
}

#Sidebar .accordion-link {
  font-family: 'Poppins', sans-serif;
  display: block;
  padding: 0.5rem 1rem;
  color: #e98074;
  text-decoration: none;
  -webkit-transition: .15s all ease-in-out;
  transition: .15s all ease-in-out;
}

#Sidebar .accordion-link:hover {
  color: #e85a4f;
  padding: 0.5rem 2rem;
}

#MainContent {
  min-height: 100%;
  background-color: ghostwhite;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#MainContent .main-content-con {
  padding: 1rem;
  border-radius: 7px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.datetime {
  margin: 0 auto;
  color: black;
  font-family: "Segoe UI", sans-serif;
}

.date {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.active-link {
  padding-left: 40px !important;
  color: #e85a4f;
}

.layout-main {
  padding-top: 82.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-nav {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.accordion-button {
  padding: 8px 16px !important;
}

.sidebar-hidden {
  z-index: -1;
  -webkit-transform: translate3d(-200%, 0px, 0px);
          transform: translate3d(-200%, 0px, 0px);
  visibility: hidden;
  position: fixed;
  top: 83.5px;
  left: -500px;
  width: 100px;
}
/*# sourceMappingURL=sidebarNavbar.css.map */