@media screen and (max-width: 576px) {
  #UserProfile .user-top-con .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  #UserProfile .user-top-con .row img {
    margin-bottom: 1rem;
  }
}

#UserProfile {
  padding: 1rem;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-height: 100%;
}

#UserProfile .user-profile-con .user-profile-top-con {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#UserProfile .user-profile-con .user-profile-top-con span {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

#UserProfile .user-profile-con .user-profile-top-con .btn {
  -webkit-transition: .2s all;
  transition: .2s all;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #e85a4f;
}

#UserProfile .user-profile-con .user-profile-top-con .btn i {
  margin-left: 7px;
}

#UserProfile .user-profile-con .user-profile-top-con .btn:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#UserProfile .user-profile-con .user-profile-top-con .btn:focus {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#UserProfile .user-profile-con .user-profile-mid-con {
  margin-top: 1rem;
}

#UserProfile .user-profile-con .user-profile-mid-con .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-top-con .row {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-top-con .row .info-con {
  font-family: 'Open-sans', sans-serif;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-top-con .row .info-con p {
  color: black;
  font-weight: 600;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-top-con .row .info-con .header {
  color: #8e8d8a;
  padding-right: 7px;
  font-weight: 500;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-top-con .row img {
  -webkit-transition: .2s all;
  transition: .2s all;
  border-radius: 50%;
  max-width: 240px;
  width: 200px;
  height: 180px;
  max-height: 240px;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-mid-con .active {
  color: #e85a4f !important;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-mid-con .nav-link {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: .2s all;
  transition: .2s all;
  color: #8e8d8a;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-mid-con .tab-pane {
  margin-top: 1rem;
  font-family: 'Open-sans', sans-serif;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-mid-con .tab-pane p {
  color: black;
  font-weight: 600;
}

#UserProfile .user-profile-con .user-profile-mid-con .row .user-mid-con .tab-pane .header {
  color: #8e8d8a;
  padding-right: 7px;
  font-weight: 400;
}
/*# sourceMappingURL=UserProfile.css.map */