/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body 
{
	line-height: 1;
	overflow-x: hidden !important;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{

    box-sizing: border-box !important;
}

.container
{
	width: 1200px;
}

nav.nav-con-main
{
	position: fixed;
	z-index: 99;
	width: 100%;
	padding: 25px 0px;
    background-color: rgb(35,50,64) !important;
	.navbar-brand
	{
		color: white;
		font-size: 28px;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
	}
	.navbar-brand:hover
	{
		color: rgb(255, 255, 255);
	}
	.navbar-toggler
	{
		background-color: rgb(21,150,125);
        border-radius: 8px;
		color: white;
	}
	.navbar-toggler-text
    {
		color: white;
		font-size: 14px;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
    }
	.navbar-toggler-icon
	{
		background-image: none;
		i 
		{
			color: white;
			margin-top: 5px;
		}
	}

	#navbarNav
	{
		justify-content: flex-end;
		.navbar-nav
		{
			.nav-item 
			{
				.nav-link
				{
					cursor: pointer;
					transition: .2s all;
					color: white;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 14px;
					font-family: 'Montserrat', sans-serif;
				}
				.nav-link:hover
				{
					color: rgb(21,150,125);
				}
			}
		}
	}
}

#FooterInfo {
	padding: 80px 0px;
	background-color: rgb(44,62,80);

	.footer-header {
		font-size: 24px;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
		color: white;
		text-align: center;
	}

	.footer-text {
		margin-bottom: 0px !important;
		text-align: center;
		color: white;
		font-size: 20px;
		padding: 20px 30px;
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
	}

	.row {
		.social-media {
			.social-cards {
				justify-content: center;
				padding: 20px 0px;
				column-gap: 15px;

				div {
					transition: .2s all;
					border: 1px solid white;
					border-radius: 50%;
					padding: 10px 25px;
					display: flex;
					text-align: center;
					cursor: pointer;
					align-items: center;
					justify-content: center;
					align-content: center;

					a {
						font-size: 20px;
						text-align: center;
						color: white;
						text-decoration: none;
					}
				}

				div:hover {
					background-color: white;

					a {
						color: black;
					}
				}
			}
		}
	}
}

#FooterCopyright
{
	padding: 24px 0px;
	background-color: rgb(26,37,47);
	.row 
	{
		p 
		{
			font-size: 14px;
			text-align: center;
			color: white;
			margin-bottom: 0px !important;
		}
	}
}

#MainHero 
{
	padding-top: 200px;
    padding-bottom: 100px;
	background-color: rgb(26,188,156);
	.hero-con-main 
	{
		flex-direction: column;
		align-content: center;
		align-items: center;
		img 
		{
			width: 15rem;
			margin-bottom: 1rem;
		}
		h1 
		{
			text-align: center;
			margin-bottom: 1rem;
			font-size: 64px;
			font-weight: 700;
			color: white;
			font-family: 'Montserrat', sans-serif;
		}
		p 
		{
			text-align: center;
			margin-bottom: 1rem;
			font-size: 24px;
			color: white;
			font-weight: 400;
			font-family: 'Montserrat', sans-serif;
		}
	}
}

#PortfolioCards 
{
	padding: 100px 0px;
	h1 
	{
		text-align: center;
		margin-bottom: 1rem;
		font-size:48px;
		font-weight: 700;
		color: rgb(44,62,80);
		font-family: 'Montserrat', sans-serif;
	}
	.row 
	{
		.card-body 
		{
			.card-content 
			{
				position: relative;
				img 
				{
					border-radius: 10px;
					width: 100%;
				}
				.hover-content 
				{
					transition: .1s;
					visibility: hidden;
					background-color: rgba(26, 188, 156, 0.76);
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					display: flex;
					left: 0;
					border-radius: 10px;
					justify-content: center;
					align-items: center;
					i 
					{
						
						color: white;
						font-size: 40px;
					}
				}
			}
		}
		.card-content:hover
		{
			.hover-content
			{
				visibility: visible;
			}
		}

	}
}

#About 
{
	background-color: rgb(26,188,156);
	padding: 100px 0px;
	.row 
	{
		h1 
		{
			text-align: center;
		    margin-bottom: 1rem;
		    font-size:48px;
		    font-weight: 700;
		    color: rgb(255, 255, 255);
		    font-family: 'Montserrat', sans-serif;
			
		}
		.About-info
		{
			.row 
			{
				div 
				{
					.about-text
					{
						margin-bottom: 1rem;
		                font-size:20px;
		                font-weight: 700;
		                color: rgb(255, 255, 255);
		                font-family: 'Montserrat', sans-serif;
					}
				}
			}
		}
		.about-btn
		{
			margin-top: 2rem;
			text-align: center;
			a 
			{
				transition: .2s all;
				border: 1px solid white;
				padding: 20px;
				font-size: 20px;
				border-radius: 10px;
				color: white;
				font-weight: 600;
				text-decoration: none;
				font-family: 'Montserrat', sans-serif;
			}
			a:hover 
			{
				color: rgb(0, 0, 0);
				background-color: white;
			}
		}
	}
}

#ContactMe
{
	padding: 100px 0px;
	.row 
	{
		justify-content: center;
		h1 
		{
			text-align: center;
		    margin-bottom: 1rem;
		    font-size:48px;
		    font-weight: 700;
		    color: rgb(44,62,80);
		    font-family: 'Montserrat', sans-serif;
		}
		form 
		{
			div 
			{
				input 
				{
					border: none;
					border-bottom: 1px solid #bfbfbf;
					border-radius: 0px;
				}
				input:focus
				{
					box-shadow: none !important;
					border-bottom: 1px solid rgb(26,188,156);
				}
				label 
				{
					font-size: 24px;
                    color: #7a7a7a;
                    padding: 0px;
				}
				textarea
				{
					border: none;
					border-bottom: 1px solid #bfbfbf;
					border-radius: 0px;
				}
				textarea:focus 
				{
					box-shadow: none !important;
					border-bottom: 1px solid rgb(26,188,156);
				}
			}
			.send-btn
			{
				padding: 10px 40px;
				font-size: 20px;
				background-color: rgb(26,188,156);
				border-color: rgb(26,188,156);
			}
		}
	}
}

.active 
{
	background-color: rgb(26,188,156) ;
	color: white;
	border-radius: 10px;
}