
@{
    ViewData["Title"] = "index";
}

<section id="UserProfile">
    <div class="user-profile-con">
        <div class="user-profile-top-con">
            <span>Profile</span>
            <a href="" class="btn ">Edit Profile</a>
        </div>
        <div class="user-profile-mid-con">
            <div class="row">
                <div class="col-12 user-top-con">
                    <div class="row">
                        <div class="col info-con">
                            <p><span class="header">ID :</span>99999</p>
                            <p><span class="header">Name :</span>Gordon</p>
                            <p><span class="header">Surname :</span>Freeman</p>
                            <p><span class="header">Gender :</span>Male</p>
                            <p><span class="header">Age :</span>99</p>
                        </div>
                        <img src="~/image/blackmesa3.jpg" class="col-sm-12" alt="user image">
                    </div>
                </div>
                <div class="col-12 user-mid-con">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="Passport-tab" data-bs-toggle="tab" data-bs-target="#Passport" type="button" role="tab" aria-controls="Passport" aria-selected="true">Passport</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Contact-tab" data-bs-toggle="tab" data-bs-target="#Contact" type="button" role="tab" aria-controls="Contact" aria-selected="false">Contact</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Salary-tab" data-bs-toggle="tab" data-bs-target="#Salary" type="button" role="tab" aria-controls="Salary" aria-selected="false">Salary</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Position-tab" data-bs-toggle="tab" data-bs-target="#Position" type="button" role="tab" aria-controls="Position" aria-selected="false">Position</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="UserTabContent">
                        <div class="tab-pane fade show active" id="Passport" role="tabpanel" aria-labelledby="home-tab">
                            <p><span class="header">CARD NO :</span>AA1234567</p>
                            <p><span class="header">PERSONAL NO :</span>802QE0Q</p>
                            <p><span class="header">DATE OF BIRTH :</span>03.08.2001</p>
                            <p><span class="header">EXPIRE DATE :</span>14.12.2028</p>
                            <p><span class="header">NATIONALITY :</span>Azerbaijan</p>
                            <p><span class="header">FIN CODE :</span>5VBK5VR</p>
                        </div>
                        <div class="tab-pane fade" id="Contact" role="tabpanel" aria-labelledby="profile-tab">
                            <p><span class="header">Email :</span>myemail@mail.com</p>
                            <p><span class="header">Number :</span>+994(051)9842696</p>
                            <p><span class="header">Home Number :</span>0123441212</p>
                            <p><span class="header">Address :</span>R. Behbudov Kuc. 65 Az1014</p>
                            <p><span class="header">Zip Code :</span>Az1014</p>
                        </div>
                        <div class="tab-pane fade" id="Salary" role="tabpanel" aria-labelledby="Salary-tab">
                            <p><span class="header">Earning :</span>999 $</p>
                            <p><span class="header">Salary Modified date :</span>02.02.2022</p>
                            <p><span class="header">Total Bonus :</span>999 $</p>
                            <p><span class="header">Last Bonus :</span>999 $</p>
                        </div>
                        <div class="tab-pane fade" id="Position" role="tabpanel" aria-labelledby="Position-tab">
                            <p><span class="header">Sector :</span>D</p>
                            <p><span class="header">Department :</span>material lab</p>
                            <p><span class="header">Job Title :</span>Anti mass spectometr engineer</p>
                            <p><span class="header">Job position :</span>Engineer </p>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</section>

